<%= form_with(model: opinion, local: true) do |form| %>
  <% if opinion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(opinion.errors.count, "error") %> prohibited this opinion from being saved:</h2>

      <ul>
        <% opinion.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Text, "SAY SOMETHING" %>
    <%= form.text_area :Text, class: 'text-area', placeholder: 'Compose a new post' %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Post', class: 'submit-btn' %>
  </div>
<% end %>
