<main class='main flex'>
  <%= render 'nav', page: 'home' %>
  <div class='content'>
    <%= render 'header', notice: notice %>
    <div class='right-pane flex'>
      <div class='home-opinions'>
        <h2>Say Something</h2>

        <%= render 'form', opinion: @opinion %>

        <h2>Latest posts</h2>

        <table>
          <thead>
            <tr>
              <th>Photo</th>
              <th>Name</th>
              <th>Text</th>
              <th colspan="1"></th>
            </tr>
          </thead>

          <tbody>
            <% @opinions.each do |opinion| %>
              <tr>
                <td><%= opinion.author.Photo %></td>
                <td><%= opinion.author.FullName %></td>
                <td><%= opinion.Text %></td>
                <td>
                  <%if current_user_is_author?(opinion)%>
                    <%= link_to 'Edit', edit_opinion_path(opinion)%>
                    <%= link_to 'Delete', opinion, method: :delete, data: { confirm: 'Are you sure?' } %>
                  <%end%>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'New Opinion', new_opinion_path %>
      </div>

      <div>
        <h2>Who to follow</h2>
        <%= render 'users' %>
      </div>
    </div>
  </div>
</main>