<main class='main flex'>
  <%= render 'nav', page: 'home' %>
  <div class='right-pane'>
    <%= render 'header'%>
    <div class='flex'>
      <div class='home-opinions'>
        <div class='posts-header'>
          <h2>POSTS</h2>
        </div>
        <div class='posts-area'>
          <div class='new-post white-area'>
            <%= render 'form', opinion: @opinion %>
          </div>
          <div class='latest-posts white-area'>
            <div class='latest-posts-header'>
              <h2>Latest posts</h2>
            </div>
            <table>
              <thead>
                <tr>
                  <th>Photo</th>
                  <th>Name</th>
                  <th>Text</th>
                  <th colspan="1"></th>
                </tr>
              </thead>

              <tbody>
                <% @opinions.each do |opinion| %>
                  <tr>
                    <td><%= opinion.author.Photo %></td>
                    <td><%= opinion.author.FullName %></td>
                    <td><%= opinion.Text %></td>
                    <td>
                      <%if current_user_is_author?(opinion)%>
                        <%= link_to 'Edit', edit_opinion_path(opinion)%>
                        <%= link_to 'Delete', opinion, method: :delete, data: { confirm: 'Are you sure?' } %>
                      <%end%>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <br>

            <%= link_to 'New Opinion', new_opinion_path %>
          </div>
        </div>
      </div>

      <div class='who-to-follow'>
        <h2>WHO TO FOLLOW</h2>
        <%= render 'users' %>
      </div>
    </div>
  </div>
</main>