<p id="notice"><%= notice %></p>

<%= render 'nav', page: 'profile' %>

<p>
  <strong>Username:</strong>
  <%= @user.Username %>
</p>

<p>
  <strong>Fullname:</strong>
  <%= @user.FullName %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @user.Photo %>
</p>

<p>
  <strong>Coverimage:</strong>
  <%= @user.CoverImage %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
