<table>
  <thead>
    <tr>
      <th>Photo</th>
      <th>Fullname</th>
      <th>Username</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.Photo %></td>
        <td><%= user.FullName %></td>
        <td><%= user.Username %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path %>